* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}



ol, ul {
  list-style: none;
}
.card {

 /* border-width: 1px;*/
    background-color: rgb(68, 142, 189);
    /*padding: 10px;*/
    margin-left: 0%;
 
    color: rgb(58, 50, 50);
    display: flex;
    flex: 0 4 250px;
    justify-content: flex-end;
}
